#Proyectos {
    display: grid;
}

.proyectos-tituloseccion {
    @extend %titulo;
    padding: 100px 0px 0px 100px;
}

.image {
    width: 500px;
}

.tipo-de-proyecto {
    color: $gris-oscuro;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding-top: 10px;
    font-size: nth($font-size, 5);
    text-align: left;
    margin-bottom: 0px;
}

.cliente {
    color: $gris-oscuro;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: nth($font-size, 5);
    text-align: left;
    margin-bottom: 0px;
}

.ver-mas {
    color: $gris-oscuro;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: nth($font-size, 5);
    text-align: left;
    text-decoration: underline $gris-oscuro;
}

/* Media query */
/* Mobile */
@media only screen and (max-width: 480px) {
    .image {
        width: 300px;
    }
    .proyectos-tituloseccion {
        @extend %titulo;
        padding: 50px 0px 0px 20px;
    }
}